@use './Match.scss';

.liveboard {
    @extend %match;

    .timer {
        display: flex;
        justify-content: flex-end;
        width: 20%;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
}