@use './Match.scss';

.summary {
    @extend %match;

    .end {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        width: 20%;

        p {
            margin: 0;
        }
    }
}