@use '../src/components/Liverboards.scss';
@use '../src/components/Summary.scss';

.App {
  align-items: center;
  display: flex;
  height: 100vh;
  text-align: center;
  width: 100vw;

  .container {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  .App-header {
    width: 100%;
  }
}