.App {
  text-align: center;
}

.container {
  display: flex;
}

.liveboard-container,
.summary-container {
  width: 50%;
}

.row {
  display: flex;
}

.score {
  width: 100px;
}

.team {
  width: 200px;
}

.team.host {
  text-align: right;
}

.team.away {
  text-align: left;
}